<footer class="page-footer bg-primary">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">myBlogs</h5>
         
          <p class="grey-text text-lighten-4">Thank you for visiting our blog, and we hope you enjoy reading our content as much as we enjoy creating it.<br> Of course! Feel free to send us your content and get it published. Thank you!</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Contact Us</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!"> <i class=" small material-icons">phone_in_talk</i><b style="font-size: 15px;">  +977-9800000000</b></a></li>
            <li><a class="grey-text text-lighten-3" href="#!">LinkedIn</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Instagram</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2023 myBlogs
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>